<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="wmsExportHandlerBundle" class="net.sf.jasperreports.engine.export.DefaultElementHandlerBundle">
    <property name="namespace" value="http://sourcepole.com/jasperreports/components" />
    <property name="elementHandlers">
      <map>
        <entry key="map">
          <map>
            <entry key="net.sf.jasperreports.html">
              <ref local="wmsMapHtmlExportHandler" />
            </entry>
            <entry key="net.sf.jasperreports.xhtml">
              <ref local="wmsMapHtmlExportHandler" />
            </entry>
            <entry key="net.sf.jasperreports.pdf">
              <ref local="wmsMapPdfExportHandler" />
            </entry>
            <entry key="net.sf.jasperreports.graphics2d">
              <ref local="wmsMapPrintExportHandler" />
            </entry>
          </map>
        </entry>
      </map>
    </property>
  </bean>
  
  <bean id="wmsComponentsExtensionRegistryFactory" 
    class="com.sourcepole.jasperreports.wmsmap.ComponentsExtensionsRegistryFactory">
  </bean>

  <bean id="wmsMapHtmlExportHandler" class="com.sourcepole.jasperreports.wmsmap.WmsMapElementHtmlHandler" />
  <bean id="wmsMapPdfExportHandler" class="com.sourcepole.jasperreports.wmsmap.WmsMapElementPdfHandler" />
  <bean id="wmsMapPrintExportHandler" class="com.sourcepole.jasperreports.wmsmap.WmsMapElementGraphics2DHandler" />

</beans>
